* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  min-height: 100vh;
  
}
.layout{
  min-height: inherit;
}


.navBar-ul{
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  background-color: rgb(26, 52, 80);
  padding: 20px;
  height: 10vh;
  width: 100%;
}

.navBar-ul a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.navBar-ul a:hover{
  font-size: large;
  text-decoration: underline;
}
.cart-body{
  height: 100vh;
}

.shopping-cart{
  margin-left: auto;
  margin-right: 4rem;
  font-size: larger;
  color: white;
}

.feed-container {
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-template-rows: repeat(3, 30vh);
  justify-content: center; 
  align-items: center; 
  column-gap: 10px;
  row-gap: 8rem;
  margin-top: 5vh;
  padding: 20px;
}


.product-container{
  width: 20vw;
  height: 40vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feed-img{
  max-width: 15vw;
  max-height: 13vw;
  margin-bottom: 1rem;
}
.centerContent{
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.specificProductContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 40vw;
  margin-top: 2rem;
  

}
.specificProductImg{
  max-width: 20vw;
  max-height: 30vw;
}

.contact-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}



.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  z-index: 100;
  width: 40%;
  max-height: 200px;
  overflow-y: auto;
}

.suggestions-list li {
  padding: 10px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}


.checkoutpage{
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.checkout-success-image, .contact-us-image {
  width: 100%; 
  max-width: 400px; 
  display: block; 
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 8px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}


footer {
  background-color: rgb(26, 52, 80);
  color: #fff; 
  width: 100%;
  height: 10rem;
  bottom: 0;
}
